<h3><i class="fas fa-id-card"></i> Desenvolvido por:</h3>
<div class="conteudoIdentificacao">
    <p><strong><i class="fas fa-user-tie"></i> Nome:</strong> {{nome}}</p>
    <p><strong><i class="fas fa-university"></i> Formação:</strong> {{formacao}} - {{instituicao}}</p>
    <div><strong><i class="fab fa-stack-overflow"></i> Stack de desenvolvimento:</strong>
        <ul>
            <li><strong>Front-End</strong>
                <ul>
                    <li><i class="fab fa-html5"></i> Html e CSS <i class="fab fa-css3-alt"></i></li>
                    <li><i class="fab fa-js-square"></i> JavaScript</li>
                    <li><i class="fab fa-react"></i> React-Native</li>
                </ul>
            </li>
            <li><strong>Back-End</strong>
                <ul>
                    <li><i class="fab fa-php"></i> PHP</li>
                    <li><i class="fab fa-java"></i> Java</li>
                    <li><i class="fab fa-node"></i> NodeJs</li>
                </ul>
            </li>

        </ul>
    </div>
    <br>
    <hr>
    <p>
        <strong><i class="fab fa-github"></i> GitHub do projeto: </strong>
        <a href="https://github.com/AlissonStochero/conversorMoedas" title="GitHub do Projeto" target="_blank">
            <img class="img" src="../../assets/img/github-icon-logo-png-transparent.png" alt="GitHub Projeto">
        </a>
    </p>
</div>